* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Andika New Basic', sans-serif; 
  background-color: #fff;
}

main {
  background-image: url("../img/thelyonking.jpg");
  background-color: #fff;
  background-size: cover;
  background-position: right;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  overflow: hidden; 
}

.content {
  width: 32%;
  height: 100%;
  background-color: rgba(144, 145, 147, 0.7);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  z-index: 1; }

.content-rights {
  color: #eee;
  filter: blur(0px); }

.content-rights p {
  font-size: 10px; }

.content-rights h2 {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: -12px;
  letter-spacing: -1.5px; }

.content-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0 10% 0; }

.content-logo img {
  width: 100%;
  padding-bottom: 2%; }

.content-logo p {
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif; }

.content-movies {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 100%;
}
img{
  width: 100%;
  max-width: 100%;
}
.trailer-1{
  width: 50%;
  position: relative;
}
.trailer-2{
  width: 50%;
  position: relative;
}
.trailer-img {
  z-index: -1;  
}
.play{
  position: absolute;
  width: 20%;
  top: 30%;
  left: 40%;
  
}
.content-places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%; }

.content-places button {
  font-size: 15px;
  padding: 3% 8%;
  margin: 0 14% 0 14%;
  border-radius: 12px;
  border: none;
  background-color: #f5bb32;
  font-weight: bold; }

.content-places span {
  font-size: 30px;
  color: #eee;
  text-align: center;
  font-weight: bold; }

.content-places span strong {
  color: #f5bb32; }

@media(max-width:800px) and (min-width:600px){
  .content{
    width: 50%;
  }
  main{
    background-position: center;
  }
}
@media(max-width:600px) and (min-width:320px){
  .content{
    width: 100%;
    
    background-color: rgba(144, 145, 147, 0.3);
  }
  main{
    background-image: none;
  }
  .content-rights{
    display: none;
  }
}